<!-- _includes/design-pattern-contents.html -->
<div class="design-pattern-directory">
    <p><strong>附：</strong></p>

    <h3>创建型模式(5)</h3>
    <hr>
    <ul>
      <li><a href="{{ site.url }}/java/2015/05/10/Java设计模式之工厂方法FactoryMethod.html">Java设计模式之工厂方法Factory Method</a></li>
      <li><a href="{{ site.url }}/java/2015/05/10/Java设计模式之创建者Builder.html">Java设计模式之创建者Builder</a></li>
      <li><a href="{{ site.url }}/java/2015/05/10/Java设计模式之抽象工厂模式AbstractFactory.html">Java设计模式之抽象工厂模式Abstract Factory</a></li>
      <li><a href="{{ site.url }}/java/2015/05/10/Java设计模式之单例模式Singleton.html">Java设计模式之单例模式Singleton</a></li>
      <li><a href="{{ site.url }}/java/2015/05/10/Java设计模式之原型模式Prototype.html">Java设计模式之原型模式Prototype</a></li>
    </ul>

    <h3>结构型模式(7)</h3>
    <hr>
    <ul>
      <li><a href="{{ site.url }}/java/2015/05/20/Java设计模式之适配器Adapter.html">Java设计模式之适配器Adapter</a></li>
      <li><a href="{{ site.url }}/java/2015/05/20/Java设计模式之桥接模式Bridge.html">Java设计模式之桥接模式Bridge</a></li>
      <li><a href="{{ site.url }}/java/2015/05/20/Java设计模式之组合模式Composite.html">Java设计模式之组合模式Composite</a></li>
      <li><a href="{{ site.url }}/java/2015/05/20/Java设计模式之装饰模式Decorator.html">Java设计模式之装饰模式Decorator</a></li>
      <li><a href="{{ site.url }}/java/2015/05/20/Java设计模式之外观模式Facade.html">Java设计模式之外观模式Facade</a></li>
      <li><a href="{{ site.url }}/java/2015/05/20/Java设计模式之享元模式Flyweight.html">Java设计模式之享元模式Flyweight</a></li>
      <li><a href="{{ site.url }}/java/2015/05/20/Java设计模式之代理模式Proxy.html">Java设计模式之代理模式Proxy</a></li>
    </ul>

    <h3>行为型模式(11)</h3>
    <hr>
    <ul>
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之责任链模式ChainOfResponsibility.html">Java设计模式之责任链模式Chain Of Responsibility</a></li>  
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之命令模式Command.html">Java设计模式之命令模式Command</a></li>
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之解释器Interpreter.html">Java设计模式之解释器Interpreter</a></li>
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之迭代器Iterator.html">Java设计模式之迭代器Iterator</a></li>
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之中介者Mediator.html">Java设计模式之中介者Mediator</a></li>
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之备忘录模式Memento.html">Java设计模式之备忘录模式Memento</a></li>
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之观察者Observer.html">Java设计模式之观察者Observer</a></li>
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之状态模式State.html">Java设计模式之状态模式State</a></li>
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之策略模式Strategy.html">Java设计模式之策略模式Strategy</a></li>        
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之访问者Visitor.html">Java设计模式之访问者Visitor</a></li>
      <li><a href="{{ site.url }}/java/2015/05/30/Java设计模式之模版方法TemplateMethod.html">Java设计模式之模版方法Template Method</a></li>
    </ul>
</div>